<h3>New Upload</h3>

<%= simple_form_for @upload, url: create_file_path(@group.id) do |form| %>
  <%= form.input :zoop, as: :file %>
  <%= form.hidden_field :group_id, value: @group.id %>
  <%= form.button :submit %>
<% end %>
