<h1>Groups</h1>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Group</th>
      <th>Files</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group) %></td>
        <td><%= group.uploads.count %> files</td>
      </tr>
    <% end %>
  </tbody>
</table>
