<h1>Group <%= @group.name %></h1>
<% if @encoded_symetric_key %>
  <p>To decode the symmetric key:<br>
  <code>echo <%= @encoded_symetric_key %> | base64 --decode | openssl rsautl -decrypt -inkey your_private_key.pem</code>
  </p>
  <p>To decrypt a file use the exectuable in <code>exe</code>:<br>
  <code>alohomora [decrypted_symmetric_key] [file_specific_initialization_vector] [path_to_encrypted_file]</code>
  </p>
<% end %>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>File</th>
      <th>Initialization Vector</th>
      <th><%= link_to "Upload File", add_file_path(@group) %></th>
    </tr>
  </thead>
  <tbody>
    <% @group.uploads.each do |upload| %>
      <tr>
        <td><%= link_to upload.zoop_file_name, upload.zoop.url(:original, false), targer: "_blank" %></td>
        <td><%= upload.iv %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
